<!DOCTYPE html>
<html lang="en">
  <head>
   <title>Headlines</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      </br></br>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose City
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          {% for key, value in cities.iteritems() %}
            <a class="dropdown-item" href="{{value}}">{{key}}</a>
          {% endfor %}
        </div>
      </div>

      <ul class="list-group mb-5 mt-3">
        <li class="list-group-item list-group-item-primary"><h2>Current weather in {{weather.city}} | <b>{{weather.temp_avg}}&#8451;</b></h2></li>
        <li class="list-group-item">Status: <b>{{weather.status}}</b></li>
        <li class="list-group-item">Temperature: avg: <b>{{weather.temp_avg}}&#8451;</b> | min: <b>{{weather.temp_min}}&#8451;</b> | max: <b>{{weather.temp_max}}&#8451;</b></li>
        <li class="list-group-item">Humidity: <b>{{weather.humidity}}</b></li>
        <li class="list-group-item">Wind: speed: <b>{{weather.wind_speed}}</b> | deg: <b>{{weather.wind_dir}}</b></li>
        <li class="list-group-item">Cloud coverage: <b>{{weather.cloud}}</b> | Rain vol: <b>{{weather.rain}}</b> | Snow vol: <b>{{weather.snow}}</b></li>
      </ul>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose channel
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="bbc">BBC</a>
          <a class="dropdown-item" href="bloomberg">BLOOMBERG</a>
          <a class="dropdown-item" href="cnn">CNN</a>
          <a class="dropdown-item" href="fox">FOX</a>
          <a class="dropdown-item" href="iol">IOL</a>
          <a class="dropdown-item" href="jw">JW</a>
        </div>
      </div>


      <div class="alert alert-primary mt-3" role="alert">
        <h1>{{publication.upper()}} Headlines</h1>
      </div>

      {% for article in articles %}
        <div class="jumbotron py-1 mb-3">
          <b><a href="{{article.link}}">{{article.title}}</a></b> </br>
          <i>{{article.published}}</i> </br>
          <p>{{article.summary}}</p>
        </div>

      {% endfor %}
    </div>

  </body>
</html>
